<html>

<div><center>
    <h1>&nbsp;</h1>
    <h1>주식 가격 예측</h1>
    </center></div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div><center><br /><form action="{{url_for('home')}}" method="POST">
    <p><strong>Stock data file : <input name="a" type="text" placeholder="enter 1" /> <br /><br /></strong></p>
    <p>&nbsp;</p>
    <p><strong><br /> <img src="static\stock_bg1.png" alt="stock" /> </strong></p>
    <p>&nbsp;</p>
    <p><strong><input type="submit" value="Predict!" style="height:40px; width:70px"/> </strong></p>
    </form>
</center></div>

</html>